.Network-select {
  color: white !important;
}

.MuiInput-root-85.MuiInput-inkbar-87.MuiInput-underline-94.Network-select::before {
  background-color: white;
}

svg[class^="MuiSelect-icon"] {
  color: white !important;
}

svg[class^="MuiSvgIcon-root"] {
  color: white !important;
}

div[class^="MuiInput-inkbar"] {
  background-color: white !important;
}

div[class^="MuiInput-underline"] {
  background-color: white !important;
}